;
; Remover após migrar todos os artefatos do GitLab Package  para o Nexus
;
@sigts:registry=https://gitlab.com/api/v4/packages/npm/

//gitlab.com/api/v4/projects/31433734/packages/npm/:_authToken=K2x9e8-8yuQS3cibzPrd
//gitlab.com/api/v4/packages/npm/:_authToken=K2x9e8-8yuQS3cibzPrd
;
;
;

; Nexus proxy registry pointing
registry=https://nexus.sigtrans.com.br/repository/npm-group/

; base64 encoded authentication token for user devops
; Comando para geração do _auth $ echo -n 'username:password' | openssl base64
_auth=ZGV2b3BzOmEyMWMyMThkZjQxZjZkN2ZkMDMyNTM1ZmUyMDM5NGUy

; required by Nexus
email=devops@consorciosigtrans.com

; force auth to be used for GET requests
always-auth=true

; we don't want to put certificates in .npmrc
strict-ssl=true

loglevel=silly
